
<h2>MENU</h2>
<table border=1>
    <tr>
        <th width="100">Order ID</th>
        <th width="100">ORDER NAME</th>
    </tr>
    <tr>
        <td>1</td>
        <td>COFFEE<td>
    </tr>
    <tr>
        <td>1</td>
        <td>COFFEE<td>
    </tr>
    <tr>
        <td>2</td>
        <td>TEA<td>
    </tr>
    <tr>
        <td>3</td>
        <td>RAMEN<td>
    </tr>
    <tr>
        <td>4</td>
        <td>WUFFLE<td>
    </tr>
    <tr>
        <td>5</td>
        <td>DOSA<td>
    </tr>
    <tr>
        <td>6</td>
        <td>PANCAKE<td>
    </tr>
    <tr>
        <td>7</td>
        <td>MOMO<td>
    </tr>
    <tr>
        <td>8</td>
        <td>CHOLE BHATURE<td>
    </tr>
</table>
<br><br><br>

<form method="POST" action="">
    TABLE NO.  <input type="number" name="order_no"/>
    <br>
    ORDER NO.  <input type="number" name="order_no"/>
    <br>
    ORDER ID  <input type="number" name="order_id"/>
    <br>
    <input type="submit">
</form>